/* For tablets */
@media (max-width: 768px) {
    .section-container, .about-details-container, .experience-details-container {
        flex-direction: column;
        padding: 0 1rem; /* Adjust padding for smaller screens */
    }

    #experience, #about, #contact {
        padding-left: 0;
        padding-right: 0;
    }

    .section__pic-container1, .section__text {
        max-width: 100%;
        padding: 1rem;
    }
}

/* For mobile devices */
@media (max-width: 480px) {
    .title, .aboutTitle {
        font-size: 2.5rem; /* Scale down title sizes */
    }
    .icon {
        height: 1.5rem; /* Adjust icon sizes */
    }
    #socials-container {
        gap: 0.5rem; /* Reduce spacing between social icons */
    }
}
